<template name="home">
    
    <div class="container">
        <h1>Welcome to OpenSpace</h1>
        <h2>The Collaborative 3D Scene Editor</h2>
        <div class="jumbotron">
            <div class="container">
                <h1> About Open Space </h1>
                <p>  OpenSpace is and application in which users can collaborate on
                     the creation of 3D scenes or objects. 
                     The idea is to facilitate the creation of 3D scenes without mush effort on the part of the user.
                     The project is in very early development and there are only a couple of things one can do.
                     In the scene editor window the users can add three different kinds of geometries, select a object to modify or remove selected objects.
                     All of the scene editing options are reactive. </p>
                <p>
                    {{#if currentUser}}
                        <a href="/newScene" class="btn btn-primary btn-lg">Try it now!</a>
                    {{else}}
                        {{> loginButtons}}
                    {{/if}}
                </p>
            </div>
        </div> 
    </div>

</template>