<template name="home">
    
    <div class="container">
        <h1>Welcome to OpenSpace</h1>
        <h2>The Collaborative 3D Scene Editor</h2>
        <div class="jumbotron">
            <div class="container">
                <h1> About Open Space </h1>
                <p>  OpenSpace is and application in which users can collaborate on
                     the creation of 3D scenes or objects. 
                     The idea is to facilitate the creation of 3D scenes without mush effort.
                     The project is in very early development and there are only a couple of things one can do.
                     In the scenes the users can add three kind of geometries, select a geometry to modify and remove geometries.
                     Everything is done dynamically. </p>
                <p>
                    <a href="/newScene" class="btn btn-primary btn-lg">Try it now!</a>
                </p>
            </div>
        </div> 
    </div>

</template>