<template name="about">
    <div class="constainer">
        <div class="jumbotron">
            <div class="container">
                <h1> About Open Space </h1>
                <p>  OpenSpace is and application in which users can collaborate on
                     the creation of 3D scenes or objects. 
                     The idea is to create a community of people working on a specific design 
                     without going throught the hassel of learning some complicated 3D graphics application. </p>
                <p>
                    <a href="/" class="btn btn-primary btn-lg">Try it now!</a>
                </p>
            </div>
        </div> 
    </div>
</template>