<template name="controls">
    <div class="row">
        <!-- First row of controls -->
        <div class="col-xs-12">          
            <div class="btn-group" role="group" aria-label="option">
                {{> modeSelector}}
                {{> objectSelectors}}
                {{> lightSelector}}
                {{> removeObject}}
                {{> colorPicker}}
            </div>
        </div>
         <!-- Second row of controls -->
        <div class="col-xs-6" aria-label="sliders">   
            <div class="well">
                {{> sizeSliders}}
            </div>
        </div>
        
        <div class="col-xs-6" aria-label="sliders">
            <div class="well">
                {{> rotationSliders}} 
            </div>
        </div>
    </div>
</template>