<template name="colorPicker">
    <div class="btn-group">
        <button class="btn btn-default color-picker-label">Color</button>
    </div>    
    <div class="input-group color-picker">
        <input type="text" value="" class="form-control" />
        <span class="input-group-addon"><i></i></span>
    </div>
</template>

<template name="sizeSliders">
    <p>
        Size
    </p>
    <p>
        X <div class="slider js-slider" data-slider="sizeX"></div>
    </p>
    <p>
        Y <div class="slider js-slider" data-slider="sizeY"></div>
    </p>
    <p>
        Z <div class="slider js-slider" data-slider="sizeZ"></div>
    </p>
</template>

<template name="rotationSliders">
    <p>
        Rotation
    </p>
    <p>
        X <div class="slider js-slider" data-slider="rotateX"></div>
    </p>
    <p>
        Y <div class="slider js-slider" data-slider="rotateY"></div>
    </p>
    <p>
        Z <div class="slider js-slider" data-slider="rotateZ"></div>
    </p>
</template>