<template name="scenes">
    
    <!-- TODO: Add bs3 collumns -->
    <div class="container">
        {{#if currentUser}}
        
        <h1> My Private Scenes </h1>
        <div class="row"> 
            {{#each private}}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{> sceneDetails}}
                </div>
            {{/each}}    
        </div>
        <h1> My Public Scenes </h1>
        <div class="row"> 
            {{#each publicMine}}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{> sceneDetails}}
                </div>
            {{/each}}    
        </div>
        
        {{/if}}
        
        <h1> Public Scenes </h1>
        <div class="row">
            {{#each publicOthers}}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{> sceneDetails}}
                </div>
            {{/each}}
        </div>
    </div>

</template>