<template name="scenes">
    
    <!-- TODO: Add bs3 collumns -->
    <div class="container">
        
        <h1> Editable scenes </h1>
        <div class="row"> 
            {{#each editable}}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{> sceneDetails}}
                </div>
            {{/each}}    
        </div>
        
        <h1> Viewable scenes </h1>
        <div class="row">
            {{#each viewable}}
                <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
                    {{> sceneDetails}}
                </div>
            {{/each}}
        </div>
    </div>

</template>