<template name="controls">
    <div class="row">
        <!-- First row of controls -->
        <div class="col-xs-12 button-padding">    
            {{> buttons}}      
        </div>
         <!-- Second row of controls -->
        <div class="col-xs-6" aria-label="sliders">   
            <div class="well">
                {{> sizeSliders}}
            </div>
        </div>
        
        <div class="col-xs-6" aria-label="sliders">
            <div class="well">
                {{> rotationSliders}} 
            </div>
        </div>
        <div class="col-xs-12">
            <div class="well">
                <p> Note: Once an object is selected you can move it around with the "wasdrf" keys.</p>
            </div>
        </div>
    </div>
</template>

<template name="controlsPane">
    <div class="panel-group">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h4 class="panel-title">
                    <a data-toggle="collapse" href="#collapseControls">Controls Panel</a>
                </h4>
            </div>
            <div id="collapseControls" class="panel-collapse collapse">
            <div class="panel-body">{{> controls}}</div>
            </div>
        </div>
    </div> 
</template>